* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.caja {
    width: 150px;
    height: 150px;
}

.azul { background-color: cornflowerblue;}
.roja { background-color: darkred;}
.verde { background-color: darkcyan;}
.morada { background-color: violet;}

.contenedor {
    height: 100vh;
    border: 4px solid orange;
    display: flex; /*Los hijos se convierten en elementos en línea*/
    /*Con "justify-content" se alinean los hijos en el eje primario*/
    /*"flex-star" alinear al comienzo del eje (izda)*/
    /*"center" centra en el eje "flex-end" alinear al final del eje (dcha)*/
    /*"space-between" coloca en ambos extremos y reparte espacios*/
    /*"space-around" reparte los espacios entre todos*/
    justify-content: space-around;
    /*Con "alignt-items" se alinean los hijos en el eje secundario*/
    /*"flex-start" coloca al inicio del eje (arriba)*/
    /*"center" coloca en el centro del eje*/
    /*"flex-end" coloca al final del eje (abajo)*/
    /*"stretch" si los elementos no tienen altura definida 
    iguala todas las alturas al elemento más grande*/
    align-items: center;
    
}